/* ---------------------------------- */
/* 1. ESTILOS GERAIS (Reset e Body)   */
/* ---------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #FFFFFF;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}
